{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% block content %}
    <center>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div style="font-size: 80px;">Explore the <b style="color: rgba(53, 49, 49, 0.507);">SNEAKERS</b>
                        shopping</div><br><br><br>
                    <h3 style="color: rgba(48, 48, 46, 0.849);">Let our passionate hosts help <br> you find fresh styles!</h3>
                </div>
                <div class="col">
                    <img src="{% static 'images/proimg_files/shoes.jpg' %}" width="500px" alt="">
                </div>
            </div>
        </div>
    </center>
    {% endblock %}

</body>

</html>